body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    text-align: center;
    background: linear-gradient(#9ddf90, #cabbff 70%, #9ddf90);
    background-color: #9ddf90;
}

* {
    box-sizing: border-box;
    font-family: "Lato";
}

h1 {
    margin: 0;
    padding-top: 1.5rem;
}

// all buttons
button {
    margin: 1rem;
    padding: 0.5rem;
    border: 1px solid grey;
    border-radius: 4px;
    &:active {
        border: 1px solid #555;
        border-style: inset;
    }
}

.settings {
    display: flex;
    justify-content: space-around;
    padding: 2rem 3rem 1rem;
    text-align: center;
}
.session-settings,
.break-settings {
    margin: 0;
    button {
        &:hover {
            cursor: pointer;
        }
    }
    span {
        margin-left: 0.25rem;
    }
}

#timer-label {
    margin: 0 1rem 1rem;
    font-size: 2.8rem;
}
#time-left {
    display: block;
    width: fit-content;
    padding: 0.3rem 0.75rem;
    margin: 1.5rem auto 1rem;
    font-size: 3rem;
    border: 0;
    border-radius: 8px;
    color: #f3f3f3;
    background-color: #222;
}
.startStopReset {
    display: flex;
    justify-content: space-around;
    #start_stop,
    #reset {
        width: 6rem;
        margin: 2rem 0 0;
        font-size: 1.5rem;
        &:hover {
            cursor: pointer;
        }
    }
}

footer {
    position: absolute;
    bottom: 0; left: 0;
    width: 100vw;
    font-size: 0.85rem;
    border-top: 1px solid grey;
    p {
        margin: 0.5rem 0.5rem;
        a {
            color: #564a81;
        }
    }
}